.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.root {
  /* // maxWidth: 345,
    // margin: "auto", */
  /* width: 400px;
  margin: "auto"; */
  /* width: 320px;
  height: 415px; */
  width: 300px;
  margin: auto;
}

.media {
  /* height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px; */
  /* width: 320px;
  height: 415px; */
  /* height: 300px;
  width: 100%;
  object-fit: "cover"; */
  height: 200px;
  width: 100%;
  object-fit: "cover";
}

.main {
  max-width: 100%;
  max-height: 295px;
  object-fit: "cover";
  /* vertical-align: bottom;
  vertical-align: top;
  vertical-align: middle;
  display: inline-block; */
  float: "left";
  display: block;
}

.testing {
  height: 280px;
  width: 500px;
  /* border: 4px solid #333; */
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.ptest {
  float: right;
  text-align: center;
}

.gamedetails {
  float: left;
}

.containertest {
  display: flex;
  flex-flow: row wrap;
}

.itemtest {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
}

.gamed {
  width: 600px;
}

.Button {
  color: blue;
}

.Button:disabled {
  /* Increase the specificity */
  color: white;
}

.imageingallery {
  object-fit: "cover";
}
